# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Environment & Logs
.env
.env.local
*.log

# Database
*.db
*.sqlite
*.sqlite3

# Mypy / Pytest / Ruff
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/
.coverage

# IDE
.vscode/
.idea/
*.swp
